<!DOCTYPE html>
<html lang="en">
<head>
<title>Mermaid Main page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% load static %}		
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

</head>

<body>
  
  <div id="main"></div>

  <h3>Flowchart</h3>
  <div class="mermaid">
      graph TD
      A[Christmas] -->|Get money| B(Go shopping)
      B --> C{Let me think}
      C -->|One| D[Laptop]
      C -->|Two| E[iPhone]
      C -->|Three| F[Car]
  </div>
  
  <h3>Sequence diagram</h3>
  <div class="mermaid">
      sequenceDiagram
      loop every day
          Alice->>John: Hello John, how are you?
          John-->>Alice: Great!
      end
  </div>
  
  <h3>Gantt diagram</h3>
  <div class="mermaid">
      gantt
      dateFormat  YYYY-MM-DD
      title Adding GANTT diagram to mermaid
  
      section A section
      Completed task            :done,    des1, 2014-01-06,2014-01-08
      Active task               :active,  des2, 2014-01-09, 3d
      Future task               :         des3, after des2, 5d
      Future task2               :         des4, after des3, 5d
  
      section Critical tasks
      Completed task in the critical line :crit, done, 2014-01-06,24h
      Implement parser and jison          :crit, done, after des1, 2d
      Create tests for parser             :crit, active, 3d
      Future task in critical line        :crit, 5d
      Create tests for renderer           :2d
      Add to mermaid                      :1d
  
      section Documentation
      Describe gantt syntax               :active, a1, after des1, 3d
      Add gantt diagram to demo page      :after a1  , 20h
      Add another diagram to demo page    :doc1, after a1  , 48h
  
      section Last section
      Describe gantt syntax               :after doc1, 3d
      Add gantt diagram to demo page      : 20h
      Add another diagram to demo page    : 48h
  </div>
  
  <div> {{ p }} </div>
  <div id="test"> </div>
  
  <div class='mermaid'>
    graph TD; 
    A(Start)-->B(Do some stuff); 
    B(Take some rest)-->C(do more);
    click B "http://www.github.com" "This is a link"
    click C call callback() "callback_test"
    
  </div>
  <div id="details"></div>
  <div class='clickable'>
  </div>

  <!--https://stackoverflow.com/questions/49309924/djangos-template-tag-inside-javascript-->
  {% load static %}		
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script src="{% static 'bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script> 
  <script src="{% static 'common_layout.js' %}"></script> 

  <script type="text/javascript">
    var row_data = '{{ p }}';
    //$("#test").text(row_data);
  </script>
  
  <script src="{% static 'hello_mermaid.js' %}"></script> 

</body>

</html>


