<!DOCTYPE html>
<html lang="en">
<head>
<title>Three-column Main page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

{% load static %}		
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

</head>

<body>
  
  <div id="main"></div>

  <div id="chart" style="height: 300px"></div>


  {% load static %}		
  <script src="{% static 'common_layout.js' %}"></script> 
  <script type="text/javascript">
		$(document).ready(function() {
		var c=[], d=[], limits = [], ranges = [];		
		var counter = 0;
		$.get("{% static 'data.csv' %}", function(data) {
               
			   var lines = data.split('\n');
			   
			    $.each(lines, function(lineNo, line) {
                var items = line.split(',');
                c = [counter,parseFloat(items[0])];
                limits = [counter, parseFloat(items[1]), parseFloat(items[2])];
          d.push(c);	
          ranges.push(limits);	
          //console.log(c);	
          counter +=1;			
      });
        

			$('#chart').highcharts({
			        
					series: [{
                data: d,
                type:'line',
                zIndex: 1
						},{
                name: 'Range',
                data: ranges,
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: Highcharts.getOptions().colors[0],
                fillOpacity: 0.3,
                zIndex: 0,
                marker: {
                    enabled: false
                }
            }]
					
								
					
			    });
			});	
		})
	</script>
</body>

</html>


