<!DOCTYPE html>
<html lang="en">
<head>
<title>Three-column Main page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% load static %}		
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

</head>

<body>
  
  <div id="main"></div>

  
  {% load static %}		
  <script src="{% static 'common_layout.js' %}"></script> 

</body>

</html>


